.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 5px;
}
.quiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 40px;
  margin: 0 auto;
  font-size: 18px;
  color: #ffffff;
  background: #5d9cf0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.button:disabled {
  color: #eeeeee;
  background: #7293bd;
  cursor: not-allowed;
}
.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0 , 0.2);
}
.button:disabled:hover {
  box-shadow: none;
}
