.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.list {
  /* width: 100%; */
  padding: 0;
  list-style: none;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 300px; */
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.itemSuccess::after,
.itemWrong::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ff6662;
  border-radius: 50%;
}
.itemSuccess::after {
  background-color: #00c9a7;
}
